{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{%static 'medi/public/global.css' %}" />
    <link rel="stylesheet" href="{%static 'medi/public/frame8.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Jomhuria:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Jomolhari:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="frame81">
      <div class="frame8-child"></div>
      <b class="search-medicines">Search Medicines</b>
      <b class="b7">&lt;</b>
      <img
        class="image-17-icon"
        alt=""
        src="{% static 'medi/public/image-17@2x.png' %}"
        id="image17"
      />

      <img class="frame8-item" alt="" src="{% static 'medi/public/line-11.svg' %}" />

      <img class="frame8-item" alt="" src="{% static 'medi/public/line-12.svg' %}" />

      <b class="trending-searches">Trending Searches</b>
      <b class="recommended-products">Recommended Products</b>
      <div class="frame8-child1"></div>
      <div class="frame8-child2"></div>
      <div class="frame8-child3"></div>
      <div class="frame8-child4"></div>
      <div class="frame8-child5"></div>
      <div class="frame8-child6"></div>
      <div class="frame8-child7"></div>
      <div class="frame8-child8"></div>
      <div class="frame8-child9"></div>
      <div class="frame8-child10"></div>
      <div class="frame8-child11"></div>
      <div class="frame8-child12"></div>
      <div class="frame8-child13"></div>
      <div class="ecosprin-75-tablet">ecosprin 75 tablet</div>
      <div class="frame8-child14"></div>
      <div class="emolene-cream">emolene cream</div>
      <a
        class="vitamin-d"
        href="https://www.singlecare.com/prescription/vitamin-d-ergocalciferol"
        target="_blank"
        >Vitamin D</a
      >
      <a
        class="azithromycin"
        href="https://www.singlecare.com/prescription/azithromycin"
        target="_blank"
        >Azithromycin</a
      >
      <div class="digital-thermometer1">
        <span>digital thermometer</span>
        <span class="span18"> </span>
      </div>
      <div class="div4">
        <p class="p3">150</p>
        <p class="p3">&nbsp;</p>
      </div>
      <img class="image-20-icon" alt="" src="{% static 'medi/public/image-20@2x.png' %}" />

      <img class="image-24-icon" alt="" src="{% static 'medi/public/image-24@2x.png' %}" />

      <img class="image-25-icon" alt="" src="{% static 'medi/public/image-25@2x.png' %}" />

      <img class="image-26-icon" alt="" src="{% static 'medi/public/image-25@2x.png' %}" />

      <div class="div5">75</div>
      <div class="div6">50</div>
      <div class="div7">70</div>
      <div class="frame8-child15"></div>
      <div class="frame8-child16"></div>
      <div class="frame8-child17"></div>
      <div class="frame8-child18"></div>
      <b class="add">ADD</b>
      <img class="image-27-icon" alt="" src="{% static 'medi/public/image-27@2x.png' %}" />

      <img class="image-21-icon" alt="" src="{% static 'medi/public/image-211@2x.png' %}" />

      <img class="image-23-icon" alt="" src="{% static 'medi/public/image-23@2x.png' %}" />

      <div class="becosules-capsule1">becosules capsule</div>
      <b class="add1">ADD</b>
      <b class="add2">ADD</b>
      <b class="add3">ADD</b>
      <b class="add4">ADD</b>
      <div class="frame8-child19"></div>
      <div class="order-via-prescription">Order Via Prescription</div>
      <img class="image-29-icon" alt="" src="{% static 'medi/public/image-29@2x.png' %}" />
    </div>

    <script>
      var image17 = document.getElementById("image17");
      if (image17) {
        image17.addEventListener("click", function (e) {
          window.location.href = "./frame10.html";
        });
      }
      </script>
  </body>
</html>
