{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'medi/global.css' %}" />
    <link rel="stylesheet" href="{% static 'medi/frame7.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Jomhuria:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Jomolhari:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="frame71">
      <img class="frame7-child" alt="" src="{% static 'medi/public/rectangle-56.svg' %}" />

      <b class="contact-list">Contact List</b>
      <img class="frame7-item" alt="" src="{% static 'medi/public/rectangle-121@2x.png' %}" />

      <img class="frame7-inner" alt="" src="{% static 'medi/public/rectangle-131@2x.png' %}" />

      <img class="image-11-icon1" alt="" src="{% static 'medi/public/image-111@2x.png' %}" />

      <img class="frame-icon1" alt="" src="{% static 'medi/public/frame1@2x.png' %}" />

      <img class="image-16-icon" alt="" src="{% static 'medi/public/image-16@2x.png' %}" />

      <img class="frame7-child1" alt="" src="{% static 'medi/public/line-7.svg' %}" />

      <img class="frame7-child2" alt="" src="{% static 'medi/public/line-8.svg' %}" />

      <img class="frame7-child3" alt="" src="{% static 'medi/public/line-9.svg' %}" />

      <img class="frame7-child4" alt="" src="{% static 'medi/public/line-10.svg' %}" />

      <div class="drmalika-orthopaedics-designa-container">
        <p class="designation-srconsultant">Dr.Malika</p>
        <p class="orthopaedics">
          <span>
            <span>Orthopaedics </span>
          </span>
        </p>
        <p class="designation-srconsultant">
          <span>
            <span>Designation : Sr.Consultant</span>
          </span>
        </p>
        <p class="designation-srconsultant">
          <span>
            <span>OPD Timings: Mon to Sat(9am-6pm)</span>
          </span>
        </p>
        <p class="designation-srconsultant">
          <span>
            <span>Phone Number:8753402734</span>
          </span>
        </p>
      </div>
      <div class="dr-susan-pediatric-container">
        <p class="designation-srconsultant">Dr. Susan</p>
        <p class="pediatric-cardiology">
          <span>
            <span>Pediatric Cardiology</span>
          </span>
        </p>
        <p class="designation-srconsultant">
          <span>
            <span>Designation : Sr. Consultant</span>
          </span>
        </p>
        <p class="designation-srconsultant">
          <span>
            <span>OPD Timings:Mon to Fri(10am-6pm)</span>
          </span>
        </p>
        <p class="designation-srconsultant">
          <span>
            <span>Phone Number:9978648555</span>
          </span>
        </p>
      </div>
      <div class="drjackson-alferd-gynaecologis-container1">
        <p class="designation-srconsultant">Dr.Jackson Alferd</p>
        <p class="pediatric-cardiology">
          <span>
            <span>Gynaecologist</span>
          </span>
        </p>
        <p class="designation-srconsultant">
          <span>
            <span>Designation:Sr.Consultant</span>
          </span>
        </p>
        <p class="designation-srconsultant">
          <span>
            <span>OPD Timings:Mon-fri(9am-5pm)</span>
          </span>
        </p>
        <p class="designation-srconsultant">
          <span>
            <span>Phone Number:876494054 </span>
          </span>
        </p>
      </div>
      <div class="dranu-john-cardeologist-container">
        <p class="designation-srconsultant">Dr.Anu John</p>
        <p class="orthopaedics">
          <span>
            <span>Cardeologist</span>
          </span>
        </p>
        <p class="designation-srconsultant">
          <span>
            <span>Designation:Sr.Consultant</span>
          </span>
        </p>
        <p class="designation-srconsultant">
          <span>
            <span>Opd</span>
          </span>
        </p>
      </div>
      <div class="dr-joe-cardiac-container">
        <p class="dr-joe1">Dr. Joe</p>
        <p class="designation-srconsultant">
          <span class="cardiac-surgery1">
            <span class="cardiac-surgery2">Cardiac Surgery</span>
          </span>
          <span>
            <span class="cardiac-surgery1">
              <span> </span>
            </span>
          </span>
        </p>
        <p class="designation-sr-consultant-ca">
          <span>
            <span>
              <span class="opd-timings"
                >Designation: Sr. Consultant Cardiac Surgeon. Head MICS</span
              >
            </span>
          </span>
        </p>
        <p class="designation-srconsultant">
          <span>
            <span>
              <span class="opd-timings"
                >OPD Timings : Mon to Sat (12pm - 5pm)
              </span>
            </span>
          </span>
        </p>
        <p class="designation-srconsultant">
          <span>
            <span>
              <span class="opd-timings">Phone Number: 9845271836</span>
              <span class="span20"> </span>
            </span>
          </span>
        </p>
      </div>
    </div>
  </body>
</html>
