{% load static%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'medi/global.css' %}" />
    <link rel="stylesheet" href="{% static 'medi/frame6.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Jomhuria:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Jomolhari:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="frame61">
      <b class="book-appointment">Book Appointment </b>
      <div class="frame6-child"></div>
      <b class="b5">&lt;</b>
      <img class="frame6-item" alt="" src="{% static 'medi/public/ellipse-16@2x.png' %}" />

      <div class="dr-anu-john-container">
        <p class="dr-anu-john">
          <span>
            <span>
              <b>Dr. Anu John </b>
              <span class="span6">⭐️ </span>
            </span>
            <span>
              <span class="reviews3">5.0(78.92 reviews)</span>
            </span>
          </span>
        </p>
        <p class="cardiologist">
          <span>
            <b>Cardiologist</b>
          </span>
        </p>
      </div>
      <img class="image-14-icon" alt="" src="{% static 'medi/public/image-14@2x.png' %}" />

      <img class="image-15-icon" alt="" src="{% static 'medi/public/image-15@2x.png' %}" />

      <b class="new-yorkunited-states">New York,United States</b>
      <div class="book-appointment1">
        <span>Book appointment</span>
        <span class="span7"> </span>
      </div>
      <b class="day">Day</b>
      <b class="pm">14:30 PM</b>
      <b class="pm1">13:00 PM</b>
      <b class="mon-5-oct-container">
        <p class="dr-anu-john">Mon</p>
        <p class="oct">5 Oct</p>
      </b>
      <b class="thu-8-oct-container">
        <p class="dr-anu-john">Thu</p>
        <p class="oct">8 Oct</p>
      </b>
      <b class="today-4-oct-container">
        <p class="dr-anu-john">Today</p>
        <p class="oct">
          <span class="span8"> </span>
          <span>4 Oct</span>
        </p>
      </b>
      <b class="tue-6-oct-container">
        <p class="dr-anu-john">Tue</p>
        <p class="oct">6 Oct</p>
      </b>
      <b class="wed-7-oct-container">
        <p class="dr-anu-john">Wed</p>
        <p class="oct">7 Oct</p>
      </b>
      <b class="mon-5-oct-container1">
        <p class="dr-anu-john">Mon</p>
        <p class="oct">5 Oct</p>
      </b>
      <b class="thu-8-oct-container1">
        <p class="dr-anu-john">Thu</p>
        <p class="oct">8 Oct</p>
      </b>
      <b class="today-4-oct-container1">
        <p class="dr-anu-john">Today</p>
        <p class="oct">
          <span class="span8"> </span>
          <span>4 Oct</span>
        </p>
      </b>
      <b class="tue-6-oct-container1">
        <p class="dr-anu-john">Tue</p>
        <p class="oct">6 Oct</p>
      </b>
      <b class="wed-7-oct-container1">
        <p class="dr-anu-john">Wed</p>
        <p class="oct">7 Oct</p>
      </b>
      <b class="mon-5-oct-container2">
        <p class="dr-anu-john">Mon</p>
        <p class="oct">5 Oct</p>
      </b>
      <b class="thu-8-oct-container2">
        <p class="dr-anu-john">Thu</p>
        <p class="oct">8 Oct</p>
      </b>
      <b class="today-4-oct-container2">
        <p class="dr-anu-john">Today</p>
        <p class="oct">
          <span class="span8"> </span>
          <span>4 Oct</span>
        </p>
      </b>
      <b class="tue-6-oct-container2">
        <p class="dr-anu-john">Tue</p>
        <p class="oct">6 Oct</p>
      </b>
      <b class="wed-7-oct-container2">
        <p class="dr-anu-john">Wed</p>
        <p class="oct">7 Oct</p>
      </b>
      <div class="frame6-inner"></div>
      <div class="frame6-child1"></div>
      <b class="mon-5-oct-container3">
        <p class="dr-anu-john">Mon</p>
        <p class="oct">5 Oct</p>
      </b>
      <div class="frame6-child2"></div>
      <div class="frame6-child3"></div>
      <div class="frame6-child4"></div>
      <b class="thu-8-oct-container3">
        <p class="dr-anu-john">Thu</p>
        <p class="oct">8 Oct</p>
      </b>
      <b class="today-4-oct-container3">
        <p class="dr-anu-john">Today</p>
        <p class="oct">
          <span class="span8"> </span>
          <span>4 Oct</span>
        </p>
      </b>
      <b class="tue-6-oct-container3">
        <p class="dr-anu-john">Tue</p>
        <p class="oct">6 Oct</p>
      </b>
      <b class="wed-7-oct-container3">
        <p class="dr-anu-john">Wed</p>
        <p class="oct">7 Oct</p>
      </b>
      <b class="time">Time</b>
      <b class="pm2">13:30 PM</b>
      <b class="pm3">15:00 PM</b>
      <div class="frame6-child5"></div>
      <div class="frame6-child6"></div>
      <div class="frame6-child7"></div>
      <b class="pm4">14:30 PM</b>
      <div class="frame6-child8"></div>
      <div class="frame6-child9"></div>
      <b class="pm5">13:00 PM</b>
      <b class="pm6">13:30 PM</b>
      <b class="pm7">14:00 PM</b>
      <b class="pm8">15:00 PM</b>
      <div class="frame6-child10"></div>
      <b class="want-a-custom-container">
        <span>Want a Custom Schedule ? </span>
        <span class="request-schedule"> Request Schedule </span>
        <span> </span>
      </b>
      <div class="frame6-child11"></div>
      <b class="make-appointment">
        <span>Make Appointment</span>
        <span class="span12"> </span>
      </b>
    </div>
  </body>
</html>
