{% load static%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'medi/global.css' %}" />
    <link rel="stylesheet" href="{% static 'medi/last-frame.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Jomhuria:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Jomolhari:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="frame9">
      <img class="frame9-child" alt="" src="{% static 'medi/public/rectangle-2@2x.png' %}" />

      <div class="frame8">
        <b class="my-appointment">My Appointment</b>
      </div>
      <div class="frame9-item"></div>
      <h1 class="h1">&lt;</h1>
      <img class="frame-icon" alt="" src="{% static 'medi/public/frame@2x.png' %}" />

      <div class="dranu-john-container">
        <b>Dr.Anu John </b>
        <span class="reviews4"> ⭐️ 5.0(78.92 reviews)</span>
      </div>
      <div class="cardiologist-mars-hospital">Cardiologist-Mars Hospital</div>
      <img class="frame9-inner" alt="" src="{% static 'medi/public/ellipse-8@2x.png' %}" />

      <img class="ellipse-icon" alt="" src="{% static 'medi/public/ellipse-7@2x.png' %}" />

      <img class="frame9-child1" alt="" src="{% static 'medi/public/ellipse-6@2x.png' %}" />

      <img class="frame9-child2" alt="" src="{% static 'medi/public/ellipse-5@2x.png' %}" />

      <div class="patients">
        <p class="p">658+</p>
        <p class="patients1">Patients</p>
      </div>
      <div class="year-experience">
        <p class="p">11+</p>
        <p class="patients1">
          <span>Year Experience</span>
          <span class="span13"> </span>
        </p>
      </div>
      <div class="reviews5">
        <p class="p">300+</p>
        <p class="patients1">Reviews</p>
      </div>
      <div class="about-me">About Me</div>
      <div class="dranu-john-is-container">
        <p class="p">
          <span
            >Dr.Anu John is the top most Cardiologists specialists in Mars
            Hospital in Lomdon,UK. He Achieved several awards for his wonderful
            contribution
          </span>
          <span class="read-more">Read More......</span>
        </p>
      </div>
      <div class="patient-information">Patient Information</div>
      <div class="full-name-container">
        <p class="p">Full Name : Alender Christopher</p>
        <p class="p">&nbsp;</p>
        <p class="p">Gender : Male</p>
      </div>
      <div class="frame10">
        <div class="start-voice-call">Start Voice Call (14:30-15:30)</div>
      </div>
      <img class="image-2-icon2" alt="" src="{% static 'medi/public/image-22@2x.png' %}" />
    </div>
  </body>
</html>
