.frame5-child,
.frame5-item {
  position: absolute;
  top: 18px;
  left: 0;
  background-color: var(--color-rosybrown-100);
  width: 1500px;
  height: 192px;
}
.frame5-item {
  top: 126px;
  left: 670px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  width: 384px;
  height: 64px;
}
.frame5-inner {
  position: absolute;
  top: 33px;
  left: 8px;
  width: 81px;
  height: 137px;
  object-fit: cover;
}
.search-doctor {
  border: 0;
  font-weight: 500;
  font-family: var(--font-inter);
  font-size: var(--font-size-5xl);
  background-color: transparent;
  position: absolute;
  top: 143px;
  left: 768px;
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 253px;
  cursor: pointer;
}
.rectangle-icon {
  position: absolute;
  top: 126px;
  left: 587px;
  border-radius: var(--br-8xs);
  width: 83px;
  height: 64px;
  object-fit: cover;
}
.hellowelcome1 {
  font-weight: 300;
}
.span1 {
  font-weight: 500;
  font-family: var(--font-inter);
}
.hellowelcome {
  margin: 0;
}
.hellowelcome-michael-container {
  position: absolute;
  top: 33px;
  left: 115px;
  font-size: 16px;
  color: var(--color-white);
}
.image-10-icon {
  position: absolute;
  top: 33px;
  left: 1820px;
  width: 61px;
  height: 70px;
  object-fit: cover;
}
.see-all {
  font-size: var(--font-size-13xl);
  color: var(--color-rosybrown-300);
}
.your-symptoms-see-container {
  position: absolute;
  top: 256px;
  left: 26px;
  font-weight: 600;
  display: inline-block;
  width: 1867px;
  height: 160px;
}
.frame5-child1,
.frame5-child2,
.frame5-child3,
.frame5-child4,
.frame5-child5 {
  position: absolute;
  top: 336px;
  left: 31px;
  border-radius: var(--br-5xs);
  background-color: var(--color-rosybrown-100);
  width: 347px;
  height: 52px;
}
.frame5-child2,
.frame5-child3,
.frame5-child4,
.frame5-child5 {
  left: 430px;
  background-color: var(--color-silver);
}
.frame5-child3,
.frame5-child4,
.frame5-child5 {
  left: 829px;
}
.frame5-child4,
.frame5-child5 {
  left: 1228px;
}
.frame5-child5 {
  left: 1647px;
}
.high-fever {
  position: absolute;
  top: 338px;
  left: 75px;
  font-weight: 500;
  color: var(--color-white);
  display: inline-block;
  width: 317px;
  height: 37px;
  font-size: var(--font-size-17xl);
}
.nauseous {
  font-size: var(--font-size-13xl);
}
.diarrhea-body-ache-container,
.nauseous-snuffle-container {
  position: absolute;
  top: 343px;
  left: 488px;
  font-weight: 500;
  color: var(--color-white);
  display: inline-block;
  width: 712px;
  height: 60px;
  font-size: var(--font-size-21xl);
}
.diarrhea-body-ache-container {
  top: 336px;
  left: 1248px;
  width: 672px;
  height: 98px;
}
.frame5-child6 {
  position: absolute;
  top: 522px;
  left: 47px;
  width: 304px;
  height: 180px;
  object-fit: cover;
}
.b {
  position: absolute;
  top: 526px;
  left: 315px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  width: 72px;
  height: 38px;
}
.frame5-child7 {
  position: absolute;
  top: 515px;
  left: 488px;
  width: 364px;
  height: 193px;
  object-fit: cover;
}
.b1 {
  position: absolute;
  top: 524px;
  left: 812px;
  font-size: var(--font-size-13xl);
}
.image-11-icon,
.image-12-icon {
  position: absolute;
  top: 515px;
  left: 973px;
  width: 370px;
  height: 199px;
  object-fit: cover;
}
.image-12-icon {
  top: 509px;
  left: 1516px;
  width: 333px;
  height: 193px;
}
.dr-joe-container {
  position: absolute;
  top: 729px;
  left: 47px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  white-space: pre-wrap;
  display: inline-block;
  width: 352px;
  height: 91px;
}
.drmalika-40-container {
  top: 723px;
  left: 499px;
  display: inline-block;
  width: 473.66px;
  height: 96.53px;
}
.dr-susan-40-container,
.dralfered-rao-container,
.drmalika-40-container {
  position: absolute;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  white-space: pre-wrap;
}
.dr-susan-40-container {
  top: 734px;
  left: 996px;
  display: inline-block;
  width: 559px;
  height: 171px;
}
.dralfered-rao-container {
  top: 724px;
  left: 1544px;
}
.b2 {
  top: 526px;
  left: 1303px;
  font-size: var(--font-size-13xl);
}
.b2,
.b3,
.div {
  position: absolute;
}
.b3 {
  top: 515px;
  left: 1811px;
  font-size: var(--font-size-13xl);
}
.div {
  top: 16px;
  left: 1889px;
  font-weight: 500;
  display: inline-block;
  width: 679px;
  height: 44px;
}
.gynaecologist-jaypee {
  margin: 0;
  color: var(--color-gray-100);
}
.drjackson-alferd-gynaecologis-container {
  position: absolute;
  top: 0;
  left: 311px;
  font-size: var(--font-size-11xl);
  font-weight: 500;
}
.div1,
.parent {
  position: absolute;
}
.parent {
  top: 881px;
  left: 704px;
  border-radius: var(--br-5xs);
  background-color: var(--color-silver);
  width: 786px;
  height: 188px;
  overflow: hidden;
}
.div1 {
  top: 21px;
  left: 1847px;
  font-weight: 500;
  display: inline-block;
  width: 679px;
  height: 44px;
}
.image-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 212px;
  height: 176px;
  object-fit: cover;
}
.drberlin-eleizerd {
  margin: 0;
  color: var(--color-black);
}
.reviews2 {
  color: var(--color-gray-400);
}
.drberlin-eleizerd-cardiologis-container {
  position: absolute;
  top: 1px;
  left: 241px;
  font-size: var(--font-size-11xl);
  font-weight: 500;
  display: none;
  width: 1064px;
  height: 65px;
  color: var(--color-gray-100);
}
.group {
  position: absolute;
  top: 886px;
  left: 10px;
  border-radius: var(--br-5xs);
  background-color: var(--color-silver);
  width: 658px;
  height: 175px;
  overflow: hidden;
}
.image-2-icon1 {
  position: absolute;
  top: 867px;
  left: 704px;
  width: 256px;
  height: 215px;
  object-fit: cover;
}
.favourite-doctors {
  font-weight: 600;
}
.b4,
.span3 {
  font-family: var(--font-inter);
}
.span3 {
  font-weight: 600;
}
.favourite-doctors-see-container {
  position: absolute;
  top: 406px;
  left: 26px;
  display: inline-block;
  width: 1455px;
  height: 86px;
}
.span4 {
  color: var(--color-rosybrown-100);
}
.see-all4,
.span5 {
  font-size: var(--font-size-17xl);
}
.span5 {
  color: var(--color-rosybrown-100);
}
.see-all2 {
  font-weight: 500;
}
.top-doctors-container {
  position: absolute;
  top: 802px;
  left: 13px;
  display: inline-block;
  width: 1474px;
  height: 98px;
}
.frame5 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
