.frame1-child,
.image-9-icon {
  position: absolute;
  top: 0;
  left: 518px;
  width: 1243px;
  height: 1169px;
}
.image-9-icon {
  top: 50000px;
  left: 0;
  width: 495px;
  height: 626px;
  object-fit: cover;
}
.frame1-item {
  position: absolute;
  top: 699px;
  left: 94px;
  border-radius: var(--br-11xl);
  width: 322px;
  height: 106px;
  cursor: pointer;
}
.get-started {
  text-decoration: none;
  position: absolute;
  top: 734px;
  left: 154px;
  font-weight: 500;
  color: inherit;
}
.empowering-patients-supportin {
  position: absolute;
  top: 339px;
  left: 416px;
  font-size: var(--font-size-45xl);
  font-weight: 500;
  display: inline-block;
  width: 1094px;
  height: 413px;
}
.medicare {
  position: absolute;
  top: 89px;
  left: 963px;
  font-size: var(--font-size-61xl);
  font-weight: 500;
}
.image-2-icon,
.image-8-icon {
  position: absolute;
  top: 89px;
  left: 857px;
  width: 91px;
  height: 80px;
  object-fit: cover;
}
.image-2-icon {
  top: 0;
  left: 0;
  width: 69px;
  height: 62px;
}
.frame1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
